
.map .map_list {
  margin-bottom:1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 3em;
}

.map .map_list .map_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.map .map_list .map_item .item_title {
  font-size: .2rem;
  font-family: SourceHanSansCN, SourceHanSansCN-Bold;
  font-weight: 700;
  text-align: center;
  color: #666666;
  margin-bottom:.35rem;
}

.map .map_list .map_item .sub_title {
  font-size: .175rem;
  font-family: SourceHanSansCN, SourceHanSansCN-Regular;
  font-weight: 400;
  text-align: center;
  color: #666666;
  margin-bottom:.25rem;
}